p{
    vertical-align: top;
    display: inline-flex;
    background-color:rgb(189, 154, 108);
    text-align: left;
    width: 40%;
    font-size: 35px;
    border: 30px solid  rgb(189, 154, 108);
}

body{
    background-color:  rgba(94, 35, 20, 0.836);
    text-align: center;
}

h1{
    text-align: center;
    color:aliceblue;
}

img{
    display: inline-flex;
    width: 30%;
    border: 10px;
    border: 30px solid  rgb(189, 154, 108);
}
