body{
    /* text-align: center; */
    margin: auto;
    text-align: center;
    /* background-color: aquamarine; */
    background-image: url('https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon.jpg');
}

img{
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: white;
    border: 1px solid #0c0c0c;
    border-radius: 4px;
}